@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #e3e3e3;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

header .btn-contato button,
.hero-site button,
.hoteis button {
    font-size: 18px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    transition: .5s;
}

header .btn-contato button:hover,
.hero-site button:hover,
.hoteis button:hover {
    background-color: white;
    color: black;
}

/* Estilo do header */
header {
    width: 100%;
    padding: 40px 0;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 5;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    max-width: 40px;
}

/* estilo menu dinamico */
header .logo img.logo-preta {
    display: none;
}

header.rolar {
    background-color: white;
    padding: 20px 0;
    box-shadow: 0 0 8px #00000061;
}

header.rolar .menu-desktop nav ul li a {
    color: black
}

header.rolar .btn-contato button {
    border: 1px solid black;
    color: black;
}

header.rolar .btn-contato button:hover {
    background-color: black;
    color: white;
}

header.rolar .logo .logo-branca {
    display: none;
}

header.rolar .logo .logo-preta {
    display: block;
}
/* -------------------- */

header .menu-desktop nav ul {
    list-style-type: none;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a {
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

.menu-desktop nav a:hover {
    transform: scale(1.05);
}

header .btn-contato button {
    width: 140px;
    height: 50px;
}

/* Estilo do botão do menu mobile */

header .btn-menu-mob {
    display: none;
}

header .btn-menu-mob div {
    background-color: white;
    height: 3px;
    margin: 10px 0;
    transition: .2s;
}

header .btn-menu-mob .line-menumob-1 {
    width: 30px;
}

header .btn-menu-mob .line-menumob-2 {
    width: 20px;
}

header.rolar .btn-menu-mob div {
    background-color: black;
}

header .btn-menu-mob .line-menumob-1.ativo1 {
    transform: rotate(45deg) translate(30%);
}
header .btn-menu-mob .line-menumob-2.ativo2 {
    transform: rotate(-45deg) translate(30%);
    width: 30px;
}

/* Estilo do Hero */
section.hero-site {
    height: 100vh;
    background-image: url("/images/bg-inicio-site.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

.hero-site .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1 {
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

.hero-site .txt-hero h1 span {
    display: block;
    font-weight: 800;
}

.hero-site .txt-hero p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.hero-site .txt-hero p span {
    display: block;
}

.hero-site button {
    width: 220px;
    height: 60px;
    font-size: 20px;
}

/* Estilos das vantagens */
section.vantagens {
    padding: 80px 0;
}

.vantagens .itens-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 60px;
}

.vantagens .itens-container .img-itens img {
    max-width: 480px;
}

.vantagens .itens-container .txt-itens h3 {
    font-size: 3em;
    line-height: 50px;
    margin-bottom: 20px;
}

.itens-container .txt-itens h3 span {
    font-weight: 300;
}

/* Estilo Botões */
section.contato {
    background-color: #fff;
    padding: 80px 0;
}

.txt-contato,
.icons-contato {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: middle;
}

.contato .txt-contato h3 {
    font-size: 2.5em;
    line-height: 50px;
    font-weight: 300;
    margin-bottom: 20px;
}

.contato .txt-contato h3 span {
    display: block;
    font-weight: 700;
}

.contato .icons-contato a {
    text-decoration: none;
}

.contato .icons-contato button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    padding: 0 60px;
    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;
    transition: .5s;
}

.contato .icons-contato button i {
    font-size: 20px;
}

.contato .icons-contato button:hover {
    background-color: #000;
}

.contato .icons-contato button:hover i,
.contato .icons-contato button:hover p {
    color: #fff;
}

/* Estilo da seção hoteis */
section.hoteis {
    height: 600px;

    background-image: url('/images/hotel-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    position: relative;
    color: white;
    text-align: center;
}

.hoteis>.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000000d7;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hoteis>.interface {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    z-index: 2;
    position: relative;
}

.hoteis h3 {
    font-size: 3em;
    line-height: 50px;
    font-weight: 200;
}

.hoteis h3 span {
    display: block;
    font-weight: 600;
}

.hoteis p {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 300;
}

.hoteis button {
    width: 220px;
    height: 60px;
}

/* Estilo da seção como funciona */
section.como-funciona {
    padding: 80px 0;
}

.txt-funciona,
.instrucoes {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

.como-funciona .txt-funciona {
    position: sticky;
    top: 50%;
    padding-bottom: 40px;
}

.como-funciona .txt-funciona h3 {
    font-size: 4em;
    line-height: 60px;
    font-weight: 300;
}

.como-funciona .txt-funciona h3 span {
    display: block;
    font-weight: 700;
}

.instrucoes .instru-box {
    display: flex;
    align-items: center;
    gap: 20px;

    margin-bottom: 40px;
    border: 2px solid black;
    padding: 20px;
}

.instrucoes .instru-box img {
    max-width: 100px;
}

.instrucoes .instru-box h4 {
    font-size: 1.5em;
    font-weight: 800;
    margin-bottom: 10px;
}

.instrucoes .instru-box h4 span {
    font-weight: 300;
}

.instrucoes .instru-box p {
    line-height: 20px;
}

/* Estilo do rodapé */
footer {
    background-color: black;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

footer .top-footer button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    transition: .5s;
}

footer .top-footer button:hover {
    background-color: white;
    color: black;
}

footer .middle-footer {
    margin: 20px 0;
}

footer .middle-footer a {
    color: white;
    margin: 0 15px;
}

footer .bottom-footer {
    border-top: 2px solid white;
}

footer .bottom-footer p {
    color: white;
    margin-top: 10px;
}